<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <title>Demo</title>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      html,
      body,
      #app {
        height: 100%;
        width: 100%;
        margin: 0;
      }
      .el-main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <el-container id="app">
      <el-main>
        <el-form
          :model="formData"
          status-icon
          :rules="rules"
          ref="formData"
          label-width="100px"
          class="form"
        >
          <el-form-item label="用户名" prop="name">
            <el-input v-model="formData.name"></el-input>
          </el-form-item>
          <el-form-item label="密码" prop="password">
            <el-input type="password" v-model="formData.password"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('formData')"
              >登录</el-button
            >
          </el-form-item>
        </el-form>
      </el-main>
    </el-container>
    <script>
      new Vue({
        el: "#app",
        data() {
          const validatePass = (rule, value, callback) => {
            if (value === "") {
              return callback(new Error("请输入密码"));
            } else if (value.length < 6) {
              return callback(new Error("密码长度小于6位"));
            }
            callback();
          };
          return {
            formData: {
              name: "",
              password: "",
              checkPassword: ""
            },
            rules: {
              name: [
                { required: true, message: "请输入用户名", trigger: "blur" }
              ],
              password: [
                {
                  validator: validatePass,
                  trigger: "blur"
                }
              ]
            }
          };
        },
        methods: {
          submitForm(formName) {
            // const xhttp = new XMLHttpRequest();
            const data = {
              name: this.formData.name,
              password: this.formData.password
            };
            this.$refs[formName].validate(valid => {
              if (valid) {
                axios
                  .post(
                    `http://localhost:3000/login?name=${data.name}&password=${
                      data.password
                    }`
                  )
                  .then(res => {
                    if (res.data.code === 200) {
                      this.$notify({
                        message: res.data.msg,
                        type: "success"
                      });
                      location.href = "http://localhost:3000/home.html";
                    } else {
                      this.$notify.error({
                        message: res.data.msg
                      });
                    }
                  });
              } else {
                console.log("valid error");
              }
            });
          },
          resetForm(formName) {
            this.$refs[formName].resetFields();
          }
        }
      });
    </script>
  </body>
</html>
